.footer__menu {
  max-width: 100%;
  padding: 0 0 24px 48px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.footer__menu {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
	.footer__menu {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 424px) {
	.footer__menu {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
  }
}
