.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.5);
  transition: 0.5s ease-in-out;
}
