.cover__overlay {
  margin: 0 auto 92px;
  width: 100%;
  max-width: 1184px;
  max-height: 62.5vw;
  min-height: 200px;
  height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
  z-index: 0;
}

@media screen and (max-width: 768px) {
	.cover__overlay {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 475px) {
	.cover__overlay {
    margin-bottom: 64px;
  }
}
