.cover__background {
  margin: 0 auto 92px;
  display: flex;
  align-items: center;
  max-height: 740px;
  max-width: 1184px;
  width: 100%;
  justify-content: center;
  position: relative;
  opacity: 0.3;
}


@media screen and (max-width: 768px) {
	.cover__background {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 475px) {
	.cover__background {
    margin-bottom: 64px;
  }
}
