.cover__title {
  margin-bottom: 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  z-index: 1;
}


@media screen and (max-width: 767px) {
	.cover__title {
    font-size: 52px;
    max-width: 400px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 424px) {
	.cover__title {
    font-size: 32px;
    max-width: 250px;
    margin-bottom: 16px;
  }
}
