.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: auto;
  gap: 48px 40px;
}


.place:last-child {
  margin-bottom: 92px;
}
