.intro__article {
  margin: 0 auto 92px;
  max-width: 984px;
}
@media screen and (max-width: 1080px) and (min-width: 1025px) {
	.intro__article {
    max-width: 956px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 985px) {
	.intro__article {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) and (min-width: 425px) {
	.intro__article {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 424px) {
  .intro__article {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}
