.lead__cover {
  margin: 0 auto 92px;
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-flow: column wrap;
}

@media screen and (max-width: 1080px) {
	.lead__cover {
    max-width: 956px;
  }
}

@media screen and (max-width: 1024px) {
	.lead__cover {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
	.lead__cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 475px) {
	.lead__cover {
    margin-bottom: 64px;
  }
}
